<header id="fixed-headers-container">
                <header id="index-header">
                    <h1>Exceptional Communication</h1>
                    <div class="header-btn">
                        Menu
                    </div>
                </header>
                <header id="tutorial-text-container">
    
                </header>
                <header id="sentence-container">
                    <div>
                        Speak
                    </div>
                </header>
            </header>
            <section id="core-section-container">
                <section id="core-section">
                    <div class="core-btn right">
                        <p>I</p>
                    </div>
                    <div class="core-btn">
                        <p>want</p>
                    </div>
                    <div class="core-btn right">
                        <p>toys</p>
                    </div>
                    <div class="core-btn">
                        <p>need</p>
                    </div>
                    <div class="core-btn right">
                        <p>like</p>
                    </div>
                    <div class="core-btn">
                        <p>do not</p>
                    </div>
                    <div class="core-btn right">
                        <p>will</p>
                    </div>
                    <div class="core-btn">
                        <p>can</p>
                    </div>
                </section>
            </section>
            <footer id="footer">

            </footer>